<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.0.0" targetFramework="MonoAndroid44" />
  <package id="Acr.UserDialogs" version="4.1.4" targetFramework="MonoAndroid44" />
  <package id="DropboxRestAPI" version="1.1.6" targetFramework="MonoAndroid44" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.0.0019" targetFramework="MonoAndroid44" />
  <package id="Splat" version="1.6.2" targetFramework="MonoAndroid44" />
  <package id="Spring.Rest" version="1.1.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.1" targetFramework="MonoAndroid44" />
</packages>